@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 95px;
    background: #FFFFFF;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-bottom: 1px solid transparent;
    box-shadow:  0 0 10px 0 gray;
}

.nav-wrapper .nav-logo {
    margin-left: 130px;
}
nav > ul {
    display: flex;
    margin-right: 230px;
}
nav > ul >li{
    margin: 0 2vw;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

nav > ul >li:hover {
    color: blue;
    transition: 2ms;
}

nav > ul > li:first-child{
    color: #E7332B;
}

.form-container .form-main {
    display: flex;
}


.nav-logo >img{
    height: 57px;
}
nav > ul >li > a{
    list-style: none;
    text-decoration: none;
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #000000;
}
.home {
    color: #E7332B;
}
@media only screen and (max-width: 600px){
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 95px;
        background: #FFFFFF;
        align-items: center;
        align-self: center;
        padding: 20px;
        width: 800px;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        
    }

    .footer-container
    .papaya {
        display: block;
    }

    .footer-container .footer-item h3, p {
        
        font-size: 14px;
        
    }

    .footer-container
    .footer-item
    .mam {
        position: relative;
        left: 20px;
}

    .main-wrapper
    .hero
    .intro-text h2 {
        font-size: 25px;
    }

    .main-wrapper
    .hero
    .intro-text p {
        width: 100px;
    }

    .form-wrapper
    .input-group
    .input-box input {
        width: 50px;
    }

    .main-wrapper
    .div-wrapper {
        position: relative;
        right: 40px;
    }
    .form-container
    .input-group {
        display:block;  
    }

    .main-wrapper
    .form-container
    .form-wrapper {
        position: relative;
        right: 100px;
        width: 400px;
        height: 900px;
    }

    .main-wrapper
    .form-container {
        width: 400px;
        height: 1100px;
    }

    footer {
        width: 800px;
    }

    .nav-wrapper {
        
        width: px;
        height: 200px;
    }

    .form-container
    .form-wrapper button {
        position: relative;
        right: 100px;
        margin-left: 10px;
        height: 30px;
        width: 20px;
        font: 16px;
    }

    .nav-wrapper .nav-logo nav ul {
        margin-top: -50px;
        display: flex;
        flex-direction: row;
    }

    .nav-wrapper .nav-logo img {
        margin-right: 500px;
    }
    nav > ul >li{
        /* margin: 20px; */
        list-style: none;
    }
}

.div-wrapper {
    margin-left: 130px;
    

}
.hero {
    width: 534px;
}

.intro-text h2 {
    width: 534px;
    margin-left: 36px;
    line-height: 45.5px;
    font-size: 36px;
    margin-bottom: 29px;
}

.intro-leading{
    margin-left: 36px;
    font-size: 14px;
    margin-bottom: 29px;
    line-height: 32px;
}
.img{
    margin-left: 36px;
    width: 200px;
    height: 80px;
}

.img h3 {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.img img {
    
    width: 130px;
    margin-right: -20px;
}


.main-wrapper {
    margin-top: 50px;
    margin-bottom: 340px;
    display: flex;
}

.div-wrapper {
    margin-top: 230px;
}

footer {
    background-color: #E7332B;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 18px;
    color: #000;
    font-weight: bold;
    height: 250px;
    text-align: center;
    
}

.footer p {
    padding-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #808080;
    height: 250px;
}
.footer-container .footer-item h3, p {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
    .footer-container
    .papaya {
        display: block;
    }

    .footer-container .footer-item h3, p {
        
        font-size: 14px;
        
    }

    .footer-container
    .footer-item
    .mam {
        position: relative;
        left: 20px;
}
} */

footer {
    height: 300px;
}
.footer-container
.footer-item
.mam {
    
    position: relative;
    right: 110px;
}

.footer-container
.footer-item
.para {
    padding-top: 10px;
}
footer span {
    text-transform: uppercase;
}



.form-container {
    position: relative;
    left: 200px;
    border: 1px solid black;
}

.footer-container .footer-item {
    margin-top: 20px;
    
}



    .form-wrapper{
        overflow:hidden;
        border-radius:6px;
        background:#fff;
        width:500px;
        max-width:100%;
        box-shadow: 1px 1px 8px #C8C4C4;

    }
    .form-wrapper h2{
        text-align: center;
        color: #E7332B;

        padding:1rem;
        
    }

    form {
        padding:30px 40px;
    }
    .input-group label {
        margin-bottom: 0px;
        display: inline-block;
        font-size: 14px;
    }
    .input-box{
        margin-left: 50px;
        
        
    }
    .input-group{
        margin-bottom:20px;
        width:100px;
        display:flex;
        flex-direction:row; 
        
    }

    .form-container 
    .form-wrapper 
    .input-group
    .input-box
    input {
        width: 200px;
        height: 30px;
    }

    /* .form-container 
    .form-wrapper 
    .input-group
    .input-box{
        border: 1px solid red;
        margin-right: 30px;
    } */

    input[type="text"] {
        padding:5px 10px;
        border:1px solid  #6B6B6B ;
        justify-content: space-evenly;
        display: flex;
        color: #736fcf;
        font-size:10px;
        font-style: italic;
        
    }
    .form-wrapper .btn {
        text-align: center;
        margin-left: 180px;
        padding: 8px 20px;
        border-radius: 20px;
        background: #E7332B;
        text-decoration: none;
        color: white;
        width: 10px;
        margin-top: 20px;
    }

    .form-container {
        position: relative;
        top: 100px;
        width: 700px;
        height: 600px;
        border: 1px solid transparent;
    }

    .form-container .form-wrapper {
        width: 615px;
        height: 600px;
    }

    .form-container .form-wrapper button {
        /* padding: 10px; */
        /* border-radius: 10px; */
        width: 230px;
        padding-left: 20px;
        position: relative;
        left: 20px;
    }

    button {
        display: block;
        margin-left: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: #E7332B;
        border: 1px solid transparent;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        
    }

    @media only screen and (max-width: 600px){
        .div-wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 768px) {
        .nav-wrapper
        .nav-logo {
            display: block;
            
        }

        .nav-wrapper
        .nav-logo ul {
            display: block;
        }
      } 


