@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 95px;
    background: #FFFFFF;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-bottom: 1px solid transparent;
    box-shadow:  0 0 10px 0 gray;
}

.nav-wrapper .nav-logo {
    margin-left: 130px;
}
nav > ul {
    display: flex;
    margin-right: 230px;
}
nav > ul >li{
    margin: 0 2vw;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

nav > ul >li:hover {
    color: blue;
    transition: 2ms;
}

nav > ul > li:first-child{
    color: #E7332B;
}

.form-container .form-main {
    display: flex;
}


.nav-logo >img{
    height: 57px;
}
nav > ul >li > a{
    list-style: none;
    text-decoration: none;
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #000000;
}
.home {
    color: #E7332B;
}
@media (max-width: 458px){
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 95px;
        background: #FFFFFF;
        align-items: center;
        align-self: center;
        padding: 20px;
    }
    nav > ul >li{
        /* margin: 20px; */
        list-style: none;
    }
}

.div-wrapper {
    margin-left: 130px;
    

}
.hero {
    width: 534px;
}

.intro-text h2 {
    width: 534px;
    margin-left: 36px;
    line-height: 45.5px;
    font-size: 36px;
    margin-bottom: 29px;
}

.intro-leading{
    margin-left: 36px;
    font-size: 14px;
    margin-bottom: 29px;
    line-height: 32px;
}
.img{
    margin-left: 36px;
    width: 200px;
    height: 80px;
}

.img h3 {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.img img {
    
    width: 130px;
    margin-right: -20px;
}


.main-wrapper {
    margin-top: 50px;
    margin-bottom: 340px;
    display: flex;
}

.div-wrapper {
    margin-top: 230px;
}

footer {
    background-color: #C4C4C4;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

footer span {
    text-transform: uppercase;
}


.form-container {
    position: relative;
    left: 200px;
    border: 1px solid black;
}



    .form-wrapper{
        overflow:hidden;
        border-radius:6px;
        background:#fff;
        width:500px;
        max-width:100%;
        box-shadow: 1px 1px 8px #C8C4C4;

    }
    .form-wrapper h2{
        text-align: center;
        color: #E7332B;

        padding:1rem;
        
    }

    form {
        padding:30px 40px;
    }
    .input-group label {
        margin-bottom: 0px;
        display: inline-block;
        font-size: 14px;
    }
    .input-box{
        margin-left: 50px;
        
    }
    .input-group{
        margin-bottom:20px;
        width:100px;
        display:flex;
        flex-direction:row; 
        
    }
    input[type="text"] {
        padding:5px 10px;
        border:1px solid  #6B6B6B    ;
        justify-content: space-evenly;
        display: flex;
        color: #736fcf;
        font-size:10px;
        font-style: italic;
        
    }
    .btn {
        text-align: center;
        margin-left: 180px;
        padding: 8px 20px;
        border-radius: 20px;
        background: #E7332B;
        text-decoration: none;
        color: white;
    }

    .form-container {
        
        width: 700px;
        height: 950px;
        border: 1px solid transparent;
    }

    .form-container .form-wrapper {
        width: 615px;
        height: 900px;
    }


