@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 95px;
    background: #FFFFFF;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-bottom: 1px solid transparent;
    box-shadow:  0 0 10px 0 gray;
}
nav > ul {
    display: flex;
}
nav > ul >li{
    margin: 0 2vw;
    list-style: none;
    font-weight: bold;
}

nav > ul > li:first-child{
    color: #E7332B;
}


.nav-logo >img{
    height: 57px;
}
nav > ul >li > a{
    list-style: none;
    text-decoration: none;
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #000000;
}
.home {
    color: #E7332B;
}
@media (max-width: 458px){
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 95px;
        background: #FFFFFF;
        align-items: center;
        align-self: center;
        padding: 20px;
    }
    nav > ul >li{
        /* margin: 20px; */
        list-style: none;
    }
}

.div-wrapper {
    display: flex;
    justify-content: space-evenly;

}
.hero {
    width: 534px;
}

.intro-text h2 {
    width: 534px;
    margin-left: 36px;
    line-height: 45.5px;
    font-size: 36px;
    margin-bottom: 29px;
}

.intro-leading{
    margin-left: 36px;
    font-size: 14px;
    margin-bottom: 29px;
    line-height: 32px;
}
.img{
    margin-left: 36px;
    width: 204px;
    margin-bottom: 29px;
}


.main-wrapper {
    margin-top: 50px;
    margin-bottom: 340px;
    display: flex;
}


footer {
    background-color: #C4C4C4;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

footer span {
    text-transform: uppercase;
}

